@charset "UTF-8";
// html5 reset
@import "mixins/html5reset-1.6.1";
// code highlighting
@import "mixins/pygments";
// import baseline for designing 
// @import "http://basehold.it/32/ff0000";
// adjust grid offset from basehold.it
body::after {
    top: 20px;
}

// Color Scheme
$pink: #f06060;
$turquoise: #09656C;
$gray: #3E4651;
$white: #FFF;

// Controls
$bg: $turquoise;

// Global options
* { box-sizing: border-box; }               // use a smarter box model
html, body { 
    font-size: 16px;                        // 1rem == 16px
    font-family: 'Open Sans', sans-serif;   // default to Open Sans for fonts
    color: $gray;                           // default to gray for fonts
    line-height: 2;                         // double-space by default
    background: mix($gray, $white, 1%);
}   

container, .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 50px;
}

// header styles
body > header {
    background: $bg;
    color: $white;
    img {
        float: left;
        background: $white;
        margin-right: 2rem;
        border-radius: 100%;
        border: 5px solid $white;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 3rem;
        color: mix($bg, $gray, 50%);
        & em {
            color: mix($bg, $white, 50%);
            font-style: normal;
        }
    }
}

body > footer {
    text-align: center;
    .container {padding-top: 0.5rem;}
    color: mix($gray, $white, 60%);
    &:before {
        content: "•••••";
        display: block;
    }
}

// nav styles
nav {
    // text-align: center;
    background: mix($gray, $white, 20%);
    color: mix($gray, $white, 60%);
    text-transform: lowercase;
    .container {padding-top: 1rem; padding-bottom: 1rem};
}

// index styles 
#index {
    article {
        margin-bottom: 2rem;
    }
    p {
        color: mix($gray, $white, 80%);
    }
    header {
        font-size: 0.85rem;
        color: mix($gray, $white, 60%);
    }
}

// global typography
a, a:visited {
    color: inherit;     // don't clobber text colors with link colors
    // text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    & a {
        text-decoration: none;
    }
}

h2 {
    font-size: 2rem;
}

#single {

    h1 {
        font-weight: 300;
        font-size: 2rem; 
        margin-bottom: 0.5rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    footer {
        text-align: right;
        margin-top: 3rem;
        font-style: italic;
        color: mix($gray, $white, 60%);
    }

    p, ul, ol {
        margin-bottom: 2rem;
    }

    img {
        padding: 10px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto; 
        &.bordered {
            border: 1px solid $gray;
            border-radius: 3px;
            background-color: #FFF;
        }
    }

    blockquote {
        margin-left: 2rem;
        font-size: 1.5rem;
        line-height: 1.15;
        &:before {
            content: "“";
            float: left;
            font-size: 4rem;
            margin-right: 0.5rem;
            margin-top: -0.5rem;
        }
    }

    // Code styling
    pre {
        white-space: pre-wrap; 
        margin: 0 2rem 2rem 2rem;
        padding: 0 0 0 12px;
        border: 1px solid $gray;
        border-left: 3px solid $gray;
        border-radius: 3px;
        max-width: 100%;
        overflow: auto;
        background: #FFF;
        line-height: 1.7em; 
    }

    pre, code {
        font-family: 'Droid Sans Mono', monospace;
        font-size: 0.9rem;
    }

    p code,
    ul code,
    li code {
        white-space: pre-wrap;
        border: 1px solid mix($gray, $white, 80%);
        background-color: $white;
        border-radius: 3px;
        margin: 0 2px;
        padding: 0 5px;
    }
}