// =============================================================
// =============================================================
//
// Color Schemes - general-purpose color schemes
//
// =============================================================
// =============================================================

$white: #FFF;

$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$light-blue-50: #e1f5fe;
$light-blue-100: #b3e5fc;
$light-blue-200: #81d4fa;
$light-blue-300: #4fc3f7;
$light-blue-400: #29b6f6;
$light-blue-500: #03a9f4;
$light-blue-600: #039be5;
$light-blue-700: #0288d1;
$light-blue-800: #0277bd;
$light-blue-900: #01579b;

$brand-qrohlf: #C72800;
$brand-qrohlf-alt: #961E00;
$bluegray: #3f5767;


// Dark color scheme with a blue background
.colors-blue-dark {
  background: $light-blue-600;
  color: $light-blue-200;
  a, a:visited {
    color: $gray-200;
  }

  a:hover {
    color: $white;
  }

  h1 {
    color: $white;
  }
}

.colors-default-light {
  background: $white;
  color: $gray-700;
  a, a:visited {
    color: $light-blue-500;
  }

  a:hover {
    color: $light-blue-700;
  }
}