// =============================================================
// =============================================================
//
// Typography - defaults
//
// =============================================================
// =============================================================

// Heading defaults
h1, h2, h3, h4, h5, h6 {
  // Only bold the headers that need bold
  font-weight: normal;
  // Reset the margins
  margin-bottom: 0;
  font-family: "proxima-nova-soft", sans-serif;
}

// Link defaults
a {
  @include transition(color .2s ease);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

code {
  font-family: source-code-pro, monospace;
  font-size: 0.8em;
}

p, ul, ol {
  code {
    background-color: $gray-50;
    padding: 1px 5px;
    border-radius: 3px;
    border: 1px solid $gray-200;
  }
}

pre {
  white-space: pre-wrap;
  padding: 0.75rem;
  border: 1px solid $gray-200;
  border-radius: 5px;
  background-color: $gray-50;
  max-width: 100%;
  overflow: auto;
  line-height: 1.5;
}

blockquote {
  border-left: 5px solid $gray-200;
  padding-left: 10px;
}