<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{ page.title }} &middot; qrohlf.com
        {% else %}@qrohlf{% endif %}
    </title>
    <meta name="viewport" content=" initial-scale=1">
    {% if page.description %}<meta name="description" content="{{ page.description }}">
    {% elsif page.summary %}<meta name="description" content="{{ page.summary }}">
    {% else %}<meta name="description" content="{{ site.description }}">{% endif %}
    <link rel="icon" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml"  title="RSS"   href="/feed.xml" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>
<body>