<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{ page.title }} | qrohlf.com
        {% else %} Quinn Rohlf :: Technologist{% endif %}
    </title>
    <meta name="viewport" content=" initial-scale=1">
    {% if page.description %}<meta name="description" content="{{ page.description }}">
    {% elsif page.summary %}<meta name="description" content="{{ page.summary }}">{% endif %}
    <link rel="icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"  title="RSS"   href="/feed.xml" />
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:300italic,400italic,700italic,300,400,700' type='text/css'>
</head>
<body>
    <header>
        <h1><a href="/"><img src="/images/logo.svg" title="Quinn Rohlf" height="64" width="64" alt="Quinn Rohlf"/></a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>