// =============================================================
// =============================================================
//
// Style - imports
//
// =============================================================
// =============================================================
@charset "UTF-8";

// Some basic bootstrap imports
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/grid";

// Color schemes
@import "global/colors";

// Utilities
@import "global/utilities";

// Typography
@import "global/typography";

// Code Highlighting
@import "global/syntax-highlight";

// Components
@import "components/masthead";
@import "components/hero";
@import "components/navbar";
@import "components/colophon";
@import "components/page";
@import "components/project-list";


// =============================================================
// =============================================================
//
// Global Setup
//
// =============================================================
// =============================================================
html {
  position: relative;
  min-height: 100%;
  font-size: 18px; // 1rem == 16px
  box-sizing: border-box;
  min-width: 320px;
}

body {
  margin: 0 0;
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  @extend .colors-default-light;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Content padding & width-limiting
.content {
  max-width: calc(700px + 2rem);
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}