// =============================================================
// =============================================================
//
// Style - imports
//
// =============================================================
// =============================================================

// Some basic bootstrap imports
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";

// Color schemes
@import "global/colors";

// Utilities
@import "global/utilities";

// Typography
@import "global/typography";

// Components
@import "components/masthead";
@import "components/hero";
@import "components/navbar";


// =============================================================
// =============================================================
//
// Global Setup
//
// =============================================================
// =============================================================
html {
  position: relative;
  min-height: 100%;
  font-size: 16px; // 1rem == 16px
  box-sizing: border-box;
}

body {
  margin: 0 0;
  font-family: lato, sans-serif;
  font-size: 1rem;
  @extend .colors-default-light;
}

*, *:before, *:after {
  box-sizing: inherit;
}