// =============================================================
// =============================================================
//
// Masthead component - for page & article titles
//
// =============================================================
// =============================================================

.masthead {
  @extend .colors-blue-dark;
  padding: 4rem 0 2rem 0;
  .arrow-left {
    position: absolute;
    left: -6rem;
    top: 50%;
    margin-top: calc(-48px / 2);
  }
  .intro {
    font-weight: 300;
    // font-style: italic;
    font-size: 1.5rem;
    color: $light-blue-200;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }

  p {
    margin: 0;
  }
}