// =============================================================
// =============================================================
//
// Page - content styling
//
// =============================================================
// =============================================================

.page {
  .meta {
    font-size: 0.9rem;
    font-style: italic;
    margin: 2rem 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-top: 4rem;
  }

  line-height: 1.5;
}